<section class="home__section__destacados home_sec_margin">
    <h2 class="home__title">Productos destacados</h2>
    <div class="home__section__destacados__products__container">
      <article class="product__card">
        <a href="/productos/detalle/1">
          <div class="product__card__img_container">
            <img
              src="/images/products/interior/begonia-rex-rondeau_1.png"
              alt="begonia rex rondeau"
            />
          </div>
        </a>
        <div class="product__card__info">
          <h4>Begonia Rex Rondeau</h4>
          <p>$1.500,00</p>
        </div>
      </article>

      <article class="product__card">
        <a href="/productos/detalle/2">
          <div class="product__card__img_container">
            <img
              src="/images/products/suculentas/tradescantia-albiflora_1.png"
              alt="Tradescantia"
            />
          </div>
        </a>
        <div class="product__card__info">
          <h4>Tradescantia</h4>
          <p>$1.800,00</p>
        </div>
      </article>

      <article class="product__card">
        <a href="/productos/detalle/3">
          <div class="product__card__img_container">
            <img
              src="/images/products/suculentas/aeonium-diplocyclum_1.png"
              alt="Aeonium diplocyclum"
            />
          </div>
        </a>

        <div class="product__card__info">
          <h4>Aeonium diplocyclum</h4>
          <p>$1.200,00</p>
        </div>
      </article>

      <article class="product__card">
        <a href="/productos/detalle/4">
          <div class="product__card__img_container">
            <img
              src="/images/products/suculentas/gasteria-hippo_1.png"
              alt="Gasteria hippo"
            />
          </div>
        </a>
        <div class="product__card__info">
          <h4>Gasteria hippo</h4>
          <p>$1.900,00</p>
        </div>
      </article>

      <i class="fa-solid fa-circle-arrow-left"></i>
      <i class="fa-solid fa-circle-arrow-right"></i>
    </div>
    <ul class="slider__puntos">
      <li class="slider__punto activo"></li>
      <li class="slider__punto"></li>
      <li class="slider__punto"></li>
    </ul>
  </section>