<footer class="footer__container">
  <div class="footer__bg__container home_sec_margin">
    <div class="footer__section__info__container">
      <section class="footer__section__info">
        <h4>TIENDA</h4>
        <p>Dirección: Calle falsa 123, Springfield</p>
        <p>Teléfono: 914-123-456</p>
        <p>Email: cantacto@sylvestris.com</p>
      </section>
      <section class="footer__section__info">
        <h4>HORARIOS</h4>
        <p>Lun-Vie: 7:00-22:00</p>
        <p>Sábados: 8:00-22:00</p>
        <p>Domingos: 8:00-12:00</p>
      </section>
      <section class="footer__section__info">
        <h4>AYUDA</h4>
        <nav>
          <ul>
            <li>
              <a href="#">Envios y devoluciones</a>
            </li>
            <li>
              <a href="#">Politicas de privacidad</a>
            </li>
            <li>
              <a href="#">FAQ</a>
            </li>
          </ul>
        </nav>
      </section>
    </div>

    <section class="footer__section__suscribete">
      <h4>SUSCRIBETE</h4>
      <form action="" method="">
        <label for="correo">Ingresa tu email aqui</label>
        <div class="footer__flex">
          <input type="text" id="correo" name="correo" />
          <button type="submit">Unirse</button>
        </div>
      </form>
    </section>
    <section class="footer__section__redes">
      <ul>
        <li>
          <a href="#"><img src="/images/iconos/face.png" alt="icono facebook" /></a>
        </li>
        <li>
          <a href="#"><img src="/images/iconos/pin.png" alt="icono pinteres" /></a>
        </li>
        <li>
          <a href="#"><img src="/images/iconos/instagram.png" alt="icono instragram" /></a>
        </li>
      </ul>
    </section>
  </div>
  <p class="footer__copy">© 2022 Creado por Equipo 1</p>
  
</footer>