<header class="header__container">
  <div class="header__hamburger">
    <img src="/images/iconos/h_menu.png" alt="menu icono" />
  </div>

  <div class="header__logo">
    <a href="/"><img src="/images/logo/Logo.png" alt="logo" /></a>
  </div>

  <div class="header__cart">
    <a href="/productos/carrito">
      <img src="/images/iconos/cart_m.png" alt="" />
    </a>
  </div>

  <nav class="header__nav">
    <ul class="header__nav__categorias">
      <li>
        <a href="/productos">Todas las plantas</a>
      </li>
      <li>
        <a href="/productos/suculentas">Suculentas</a>
      </li>
      <li>
        <a href="/productos/plantas">Plantas</a>
      </li>
      <li>
        <a href="/productos/captus">Captus</a>
      </li>
    </ul>
  </nav>
  <div class="header__nav__right">
    <form action="/search" method="GET">
      <input type="text" placeholder="Buscar" name="keywords" minlength="2" />
      <button type="submit">
        <img src="/images/iconos/search.png" alt="search icon" />
      </button>
    </form>
    <nav class="header__nav__right__icon_container">
      <ul>
        <% if (locals.userLogin) { %>
        <li class="header__nav__right__icon">
          <a href="/usuario/perfil" class="login__icon"
            ><%= userLogin.iconNavbar %>
          </a>
        </li>
        <% }else{ %>
        <li class="header__nav__right__icon">
          <a href="/usuario/login"
            ><img src="/images/iconos/user.png" alt="user icon"
          /></a>
        </li>
        <% } %>

        <li class="header__nav__right__icon">
          <a href="/productos/carrito"
            ><img src="/images/iconos/cart.png" alt="cart icon"
          /></a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="overlay"></div>
  <div class="sidebar_menu_mobile">
    <button class="btn_close"><i class="bx bx-x"></i></button>
    <div class="header__logo__menu">
      <a href="/"><img src="/images/logo/Logo.png" alt="logo" /></a>
    </div>
    
    <h3>Buscar</h3>
    
    <div class="sidebar_menu_mobile_search">
      <form action="/search" method="GET">
        <input type="text"  name="keywords" minlength="2" />
        <button type="submit">
          <i class='bx bx-search-alt-2'></i>
        </button>
      </form>
    </div>
    <h3>Productos</h3>
    
    <ul>
      <li>
        <a href="/productos"><i class='bx bxs-florist'></i> Todas las plantas</a>
      </li>
      <li>
        <a href="/productos/suculentas"><i class='bx bxs-florist'></i> Suculentas</a>
      </li>
      <li>
        <a href="/productos/plantas"><i class='bx bxs-florist'></i> Plantas</a>
      </li>
      <li>
        <a href="/productos/captus"><i class='bx bxs-florist'></i> Captus</a>
      </li>
    </ul>
    <h3>Usuario</h3>
    <ul>
    <% if (locals.userLogin) { %>
      <li>
        <a href="/usuario/perfil"><i class='bx bx-list-ul' ></i> Mi perfil</a>
      </li>
      <li>
        <a href="#"><i class='bx bx-shopping-bag' ></i></i> Mis pedidos</a>
      </li>
      <li>
        <a href="/usuario/perfil/direccion"><i class='bx bx-home' ></i></i> Mi dirección</a>
      </li>
      <% if (locals.userLogin && userLogin.rol === "admin") { %>
        <li>
          <a href="/admin"><i class='bx bx-shield-alt-2'></i> Administración</a>
        </li>
      <% } %>
      
      <li>
        <a href="/usuario/logout" style="font-weight:600 ;"><i class='bx bx-exit'></i> Cerrar sesión</a>
      </li>
      <% }else{ %>
        <li>
          <a href="/usuario/login" style="font-weight:600 ;"><i class='bx bx-user-circle' ></i></i> Ingresar</a>
        </li>
      <% } %>
      </ul>
    
    
      
     
  </div>
  <script>
    const open = document.querySelector('.header__hamburger');
    const close = document.querySelector('.btn_close');
    const container = document.querySelector('.sidebar_menu_mobile')
    const overlay = document.querySelector('.overlay')

    open.addEventListener('click', () => {
    container.classList.add ('show-nav')
    overlay.classList.add ('show-nav')
})


close.addEventListener('click', () => {
container.classList.remove ('show-nav')
overlay.classList.remove ('show-nav')
})
  </script>
</header>
