<article class="profile__menu__left">
    <h3>MENU</h3>
    <ul>
        <li >
            <a href="/usuario/perfil" class="menu_profile active"><i class='bx bx-list-ul' ></i> Mis datos</a>
        </li>
        <!-- <li>
            <a href="/#" class="menu_profile"><i class='bx bx-shopping-bag' ></i></i> Mis pedidos</a>
        </li> -->
        <li>
            <a href="/usuario/perfil/direccion" class="menu_profile"><i class='bx bx-home' ></i></i> Mi dirección</a>
        </li>
        <% if (userLogin.rol === 1) { %>
            
            <li>
                <a href='<%= userLogin.url_dashboard %>' class="menu_profile"><i class='bx bx-shield-alt-2'></i> Administración</a>
            </li>
         
        <% } %>
        <li>
            <a href="/usuario/logout" class="menu_profile"><i class='bx bx-exit'></i> Cerrar sesión</a>
        </li>
        
    </ul>
</article>