<div class="sidebar">
  <a href="/">
    <div class="logo-details">
      <i class="bx bxs-florist"></i>
      <span class="logo_name">Sylvestris</span>
    </div>
  </a>
  <ul class="nav-links">
    <li>
      <a href="/admin" class="sidebar__menu active">
        <i class="bx bx-grid-alt"></i>
        <span class="links_name">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="/admin/products" class="sidebar__menu">
        <i class="bx bx-box"></i>
        <span class="links_name">Productos</span>
      </a>
    </li>
    <li>
      <a href="#" class="sidebar__menu">
        <i class="bx bx-list-ul"></i>
        <span class="links_name">Ordenes</span>
      </a>
    </li>
    <li>
      <a href="/admin/users" class="sidebar__menu">
        <i class="bx bx-user-pin"></i>
        <span class="links_name">Usuarios</span>
      </a>
    </li>
    <li>
      <a href="#" class="sidebar__menu">
        <i class="bx bx-coin-stack"></i>
        <span class="links_name">Stock</span>
      </a>
    </li>
    <li>
      <a href="#" class="sidebar__menu">
        <i class="bx bx-book-alt"></i>
        <span class="links_name">Total order</span>
      </a>
    </li>

    <li>
      <a href="#" class="sidebar__menu">
        <i class="bx bx-heart"></i>
        <span class="links_name">Favrorites</span>
      </a>
    </li>
    <li>
      <a href="#" class="sidebar__menu">
        <i class="bx bx-cog"></i>
        <span class="links_name">Setting</span>
      </a>
    </li>
    <li class="log_out">
      <a href="/usuario/logout">
        <i class="bx bx-log-out"></i>
        <span class="links_name">Log out</span>
      </a>
    </li>
  </ul>

  <!-- <script>
    const menu_list = document.querySelectorAll(".sidebar__menu");
    console.log(menu_list)
    panels.forEach((menu) => {
      menu_list.addEventListener("click", () => {
        removeActiveClass();
        menu.classList.add("active");
      });
    });

    function removeActiveClass() {
      menu_list.forEach((menu) => {
        menu.classList.remove("active");
      });
    }
  </script> -->
</div>
