<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Sylvestris - Login - </title>
    <script src="https://kit.fontawesome.com/30ca11b4d7.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header__container">
        <div class="header__hamburger">
          <img src="./images/iconos/h_menu.png" alt="menu icono" />
        </div>

        <div class="header__logo">
          <img src="./images/logo/Logo.png" alt="logo" />
        </div>
  
        <div class="header__cart">
          <img src="./images/iconos/cart_m.png" alt="" />
        </div>
  
        <nav class="header__nav">
          <ul class="header__nav__categorias">
            <li>
              <a href="#">Categoria 1</a>
            </li>
            <li>
              <a href="#">Categoria 2</a>
            </li>
            <li>
              <a href="#">Categoria 3</a>
            </li>
          </ul>
        </nav>
        <div class="header__nav__right">
          <form action="" method="">
            <input type="text" placeholder="Buscar" name="buscar" />
            <button type="submit">
              <img src="./images/iconos/search.png" alt="search icon" />
            </button>
          </form>
          <nav class="header__nav__right__icon_container">
            <ul>
              <li class="header__nav__right__icon">
                <a href="#"
                  ><img src="./images/iconos/user.png" alt="user icon"
                /></a>
              </li>
              <li class="header__nav__right__icon">
                <a href="#"
                  ><img src="./images/iconos/cart.png" alt="cart icon"
                /></a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <!--**************************** FIN DEL HEADE *************************** -->
      <!-- *************************** INICIO DEL MAIN ************************* -->
         <main class="login_main">
            <div class="login_main_inicio"> 
                <h2>INICIO DE SESION</h2>
             </div>

             <div class="login_main_nuevo"> 
                <p>¿Eres nuevo en este sitio? Registrate</p>
            </div>

            <div class="login_main_email"> 

            <form action="email" method="post">
                <label for="email">Email
                </label>
                <input type="email" name="usuario" id="">
                
                <br>

                <label for="password">Contraseña</label>
                <input type="password" name="clave" id="password">
         </form>
        </div>

        <section class="login_main_recordarpregunta">  
        <div class="login_main_recordarme">
          <label for="">Recordarme</label>
          <input type="checkbox" name="recordarme" id="recordarme">          
        </div>

         <div class="login_main_olvidocontraseña">

            <p>¿Olvidaste tu contraseña?</p>
         </div>        
        </section>

        <div class="login_main_iniciosesion">

            <button>Iniciar sesión</button>
        </div>

        <div class="login_main_contactate">
            <p>O contactate con</p>
        </div>

        <div class="login_main_usargoogle">
            <i class="fa-brands fa-google"></i>

            <a href="conctar con Google">Conectar con Google</a>
        </div>

         </main>
        
      <!-- *************************** FIN DEL MAIN **************************** -->
      <!-- *************************** INICIO DEL FOOTER *********************** -->
      <footer class="footer__container">
        <div class="footer__bg__container">
          <div class="footer__section__info__container">
            <section class="footer__section__info">
              <h4>TIENDA</h4>
              <p>Dirección: Calle falsa 123, Springfield</p>
              <p>Teléfono: 914-123-456</p>
              <p>Email: cantacto@sylvestris.com</p>
            </section>
            <section class="footer__section__info">
              <h4>HORARIOS</h4>
              <p>Lun-Vie: 7:00-22:00</p>
              <p>Sábados: 8:00-22:00</p>
              <p>Domingos: 8:00-12:00</p>
            </section>
            <section class="footer__section__info">
              <h4>AYUDA</h4>
              <nav>
                <ul>
                  <li>
                    <a href="">Envios y devoluciones</a>
                  </li>
                  <li>
                    <a href="">Politicas de privacidad</a>
                  </li>
                  <li>
                    <a href="">FAQ</a>
                  </li>
                </ul>
              </nav>
            </section>
          </div>
  
          <section class="footer__section__suscribete">
            <h4>SUSCRIBETE</h4>
            <form action="" method="">
              <label for="correo">Ingresa tu email aqui</label>
              <div class="footer__flex">
                <input type="text" id="correo" name="correo" />
                <button type="submit">Unirse</button>
              </div>
            </form>
          </section>
          <section class="footer__section__redes">
            <ul>
              <li>
                <a href="#"
                  ><img src="./images/iconos/face.png" alt="icono facebook"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="./images/iconos/pin.png" alt="icono pinteres"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img
                    src="./images/iconos/instagram.png"
                    alt="icono instragram"
                /></a>
              </li>
            </ul>
          </section>
        </div>
        <p class="footer__copy">© 2022 Creado por Equipo 1</p>
      </footer>
</body>
</html>