<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Sylvestris - Producto - </title>
</head>

<body>
    <!-- ----------Inicio de header----------- -->

    <header class="home__header__container">
        <div class="home__header__logo">
            <img src="./images/logo/Logo.png" alt="logo" />
        </div>
        <nav class="home__header__nav">
            <ul class="home__header__nav__categorias">
                <li>
                    <a href="#">Categoria 1</a>
                </li>
                <li>
                    <a href="#">Categoria 3</a>
                </li>
                <li>
                    <a href="#">Categoria 3</a>
                </li>
            </ul>

        </nav>
        <div class="home__header__nav__right">
            <form action="">
                <input type="text">
                <button>
                    <img src="./images/iconos/search.png" alt="search icon">
                </button>
            </form>
            <div class="home__header__nav__right__icon">
                <img src="./images/iconos/user.png" alt="user icon">
            </div>
            <div class="home__header__nav__right__icon">
                <img src="./images/iconos/cart.png" alt="cart icon">
            </div>
        </div>
    </header>

    <!-- ----------Fin de header----------- -->
    <!-- ----------Inicio de main----------- -->
    <main class="producto_main_container">
        <section class="producto_main_section">
            <div class="producto_main_section_ruta">
                <span>Ruta</span>
                <span>Atrás/Siguiente</span>
            </div>
            <div class="producto_main_section_container">
                <div class="producto_main_section_left">
                    <div class="producto_main_section_left_img">
                        <img src="/images/products/interior/begonia-rex-rondeau_1.png" alt="begonia-rex-rondeau">
                    </div>
                    <div class="producto_main_section_left_text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non aperiam reprehenderit tenetur repellat impedit distinctio, quisquam iusto perferendis vel ut, nam consectetur, aliquid odio in tempore dicta sunt? Quia, laborum.</p>
                    </div>
                </div>
                <div class="producto_main_section_right">
                    <div class="producto_main_section_left_img">
                        <img src="/images/products/interior/begonia-rex-rondeau_1.png" alt="begonia-rex-rondeau">
                    </div>
                    <div class="producto_main_section_left_text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non aperiam reprehenderit tenetur repellat impedit distinctio, quisquam iusto perferendis vel ut, nam consectetur, aliquid odio in tempore dicta sunt? Quia, laborum.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="producto_main_section_relacionado">

        </section>
    </main>
    <!-- ----------Fin de main----------- -->
</body>

</html>