<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Sylvestris - Carrito - </title>
</head>

<body>
  <!-- ----------Inicio de header----------- -->

  <header class="header__container">
    <div class="header__hamburger">
      <img src="./images/iconos/h_menu.png" alt="menu icono" />
    </div>

    <div class="header__logo">
      <img src="./images/logo/Logo.png" alt="logo" />
    </div>

    <div class="header__cart">
      <img src="./images/iconos/cart_m.png" alt="" />
    </div>

    <nav class="header__nav">
      <ul class="header__nav__categorias">
        <li>
          <a href="#">Categoria 1</a>
        </li>
        <li>
          <a href="#">Categoria 2</a>
        </li>
        <li>
          <a href="#">Categoria 3</a>
        </li>
      </ul>
    </nav>
    <div class="header__nav__right">
      <form action="" method="">
        <input type="text" placeholder="Buscar" name="buscar" />
        <button type="submit">
          <img src="./images/iconos/search.png" alt="search icon" />
        </button>
      </form>
      <nav class="header__nav__right__icon_container">
        <ul>
          <li class="header__nav__right__icon">
            <a href="#"><img src="./images/iconos/user.png" alt="user icon" /></a>
          </li>
          <li class="header__nav__right__icon">
            <a href="#"><img src="./images/iconos/cart.png" alt="cart icon" /></a>
          </li>
        </ul>
      </nav>
    </div>
  </header>


  <!-- *******************Fin de header ******************************* -->
  <!-- ***************** INICIO DEL MAIN  ***************************** -->
  <main class="carrito_main_container">

    <div class="carrito_main_titulo">
      <p>Mi Carrito </p>
    </div>

    <hr>

    <section>
      <article class="carrito_main_articulo_planta">

        <div class="planta">
          <img src="/images/products/interior/begonia-rex-rondeau_1.png" alt="Bagonia Rondeau">
        </div>


        <div class="carrito_main_nombreprecioboton">

          <div class="carrito_main_nombreproducto">
            <p>
              Producto Bagonia Rondeau
            </p>

          </div>

          <div class="carrito_main_producto_precio">
            <p> $99,99 </p>
          </div>

          <div class="carrito_main_boton_articulo">
            <button>- 1 +</button>
          </div>

          <div class="carrito_main_precio">
            <p> $99,99 </p>
          </div>
        </div>

      </article>

      <hr>

      <article class="carrito_main_articulo_planta">

        <div class="planta">
          <img src="/images/products/suculentas/aeonium-diplocyclum_1.png" alt="Aeonium Diplocyclum">
        </div>
        <div class="carrito_main_nombreprecioboton">
          <div class="carrito_main_nombreproducto">
            <p>
              producto Aeonium
            </p>
          </div>

          <div class="carrito_main_producto_precio">
            <p> $99,99 </p>
          </div>

          <div class="carrito_main_boton_articulo">
            <button>- 1 +</button>
          </div>

          <div class="carrito_main_precio">
            <p> $99,99 </p>
          </div>
        </div>
      </article>
    </section>

    <hr>

    <section  class="carrito_main_finish_container">       

    <div class="carrito_main_promocion">
      <form action="promocion" method="post">
        <label for="promocion">Coloque su código promocional</label>
        <input type="promocion" name="promocion" id="">
      </form>
    </div>

    <hr class="hr">

    <!-- <div class="carrito_main_agregarnota">
      <label for="nota">Agregar una nota</label>
      <textarea name="nota" id="" cols="30" rows="10"></textarea>
    </div>

    <hr class="hr"> -->

      <div class="carrito_main_subtotal">
        <p>Subtotal</p>
      </div>

      <div class="carrito_main_subtotal_precio">
        <p> $199,98 </p>
      </div>

      <div class="carrito_main_envio">
        <p>Envio </p>
      </div>
        <div class="carrito_main_gratis">   
        <p>GRATIS </p>
      </div>

      <hr class="hr">

      <div class="carrito_main_total">
        <p>TOTAL</p>
      </div>

      <div class="carrito_main_total_precio">
        <p>$199,98</p>
      </div>

      <div class="carrito_main_boton_finalizarcompra">
        <button>Finalizar la compra</button>
      </div>

      <div class="carrito_main_pagoseguro">
        <p>Pago seguro</p>
      </div>

    </section>







  </main>
  <!-- ********************* FIN DEL MAIN  **************************** -->
  <!-- ********************** INICIO DEL FOOTER *********************** -->
  <footer class="footer__container">
    <div class="footer__bg__container">
      <div class="footer__section__info__container">
        <section class="footer__section__info">
          <h4>TIENDA</h4>
          <p>Dirección: Calle falsa 123, Springfield</p>
          <p>Teléfono: 914-123-456</p>
          <p>Email: cantacto@sylvestris.com</p>
        </section>
        <section class="footer__section__info">
          <h4>HORARIOS</h4>
          <p>Lun-Vie: 7:00-22:00</p>
          <p>Sábados: 8:00-22:00</p>
          <p>Domingos: 8:00-12:00</p>
        </section>
        <section class="footer__section__info">
          <h4>AYUDA</h4>
          <nav>
            <ul>
              <li>
                <a href="">Envios y devoluciones</a>
              </li>
              <li>
                <a href="">Politicas de privacidad</a>
              </li>
              <li>
                <a href="">FAQ</a>
              </li>
            </ul>
          </nav>
        </section>
      </div>

      <section class="footer__section__suscribete">
        <h4>SUSCRIBETE</h4>
        <form action="" method="">
          <label for="correo">Ingresa tu email aqui</label>
          <div class="footer__flex">
            <input type="text" id="correo" name="correo" />
            <button type="submit">Unirse</button>
          </div>
        </form>
      </section>
      <section class="footer__section__redes">
        <ul>
          <li>
            <a href="#"><img src="./images/iconos/face.png" alt="icono facebook" /></a>
          </li>
          <li>
            <a href="#"><img src="./images/iconos/pin.png" alt="icono pinteres" /></a>
          </li>
          <li>
            <a href="#"><img src="./images/iconos/instagram.png" alt="icono instragram" /></a>
          </li>
        </ul>
      </section>
    </div>
    <p class="footer__copy">© 2022 Creado por Equipo 1</p>
  </footer>
  <!-- *********************** FIN DEL FOOTER  *********************** -->

</body>

</html>