@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-brown: #a05841;
  --color-brown1: #854a36;
  --color-dark-green: #123132;
  --color-dark-green1: #1c6a6d;
  --color-dark-green2: #cde0c762;
  --color-light-grey: #ededee;
  --color-white: #fff;
  --color-black: #2f2f30;

  --font-1: "Roboto";
  --font-2: "Poppins";
}

body {
  font-family: var(--font-2);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input[type="radio"] {
  accent-color: var(--color-brown);
}

body {
  *animation: fadein 0.6s ease-in;
}
/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  *border: 1px solid var(--color-brown);
  -webkit-text-fill-color: var(--color-brown);
  -webkit-box-shadow: 0 0 0px 1000px var(--color-white) inset;
  transition: background-color 5000s ease-in-out 0s;
}

textarea{
  resize: vertical
} 

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.swiper-pagination-bullet{
  background-color: #a05841;
  
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: 0;
}
button{
  cursor: pointer;
  transition: all 0.4s;
}
button:hover{
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 2px 2px 5px #444;
}

.main__checkout{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #a05841;
  padding: 50px 0;
  min-height: 92vh;
}
.main__finish{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #a05841;
  padding: 50px 0;
  min-height: 92vh;
}
.finish__msg{
  border: 1px solid #a05841;
  padding: 50px;
  text-align: center;
}
.finish__msg h1{
 margin-bottom: 30px;
}
  
