<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

    <body>
        <!-- ----------Inicio de header----------- -->
        <%- include('../partials/header') %>
            <!-- ----------Fin de header----------- -->
            <!-- ----------Inicio de main----------- -->
            <main class="login__main">
                <section class="login__main__container">
                    <h1>CREAR PRODUCTOS</h1>
                    <form action="/admin/store" method="POST">
                        <label for="">Nombre del producto</label>
                        <input type="text" name="nombre" />

                        <label for="">Subtítulo</label>
                        <input type="text" name="sub_titulo" />

                        <label for="">Slug</label>
                        <input type="text" name="slug" />

                        <label for="">Categoría</label>
                        <input type="text" name="categoria" />

                        <label for="">Stock</label>
                        <input type="number" name="stock" placeholder="0" step="1" min="0">

                        <label for="">Destacado</label>
                        <label for="">Sí<input type="radio" name="destacado" value= "true"/></label>
                        <label for="">No<input type="radio" name="destacado" value= "false"/></label>


                        <label for="">Descripción del producto</label>
                        <input type="text" name="descripcion" />

                        <label for="">Descripción altura del producto</label>
                        <input type="text" name="descripcion_altura" />

                        <label for="">Descripción maceta del producto</label>
                        <input type="text" name="descripcion_maceta" />

                        <label for="">Precio</label>
                        <input type="number" name="precio" placeholder="0" step="0.01" min="0" />

                        <label for="">Cuidados</label>
                        <input type="text" name="cuidados" />

                        <label for="">Agua</label>
                        <input type="number" name="agua" placeholder="0" step="0.5" min="0" max="5" />

                        <label for="">Luz</label>
                        <input type="number" name="luz" placeholder="0" step="0.5" min="0" max="5" />


                        <label for="">Cargar imagen del producto</label>
                        <input type="file" name="imagen" />
                        <button class="registrarse__button" type="submit">CREAR</button>
                    </form>
                </section>
            </main>
            <!-- ----------Fin de main----------- -->
            <!-- ----------Inicio de footer----------- -->
            <%- include('../partials/miniFooter') %>
                <!-- ----------Fin de footer----------- -->
    </body>

</html>