<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

    <body class="admin__dashboard">
        <!-- ----------Inicio de header----------- -->
        <%- include('../partials/sidebar') %>
            <!-- ----------Fin de header----------- -->
            <!-- ----------Inicio de main----------- -->
            <main class="home-section " id="add__products">
                <%- include('../partials/navbarAdmin', {user:user}) %>
                    <section class="login__main__container admin__form__container">
                        <h1>CREAR PRODUCTOS</h1>



                        <form action="/admin/products/create_product" method="POST" enctype="multipart/form-data" class="admin__form">
                            <div class="col">

                                <div class="form__field">

                                    <label for="">Nombre del producto</label>
                                    <input type="text" name="nombre" class="input__admin" />
                                    <p class="form__error">El nombre es requerido</p>
                                </div>
                                <div class="form__field">
                                    <label for="">Subtítulo</label>
                                    <input type="text" name="sub_titulo" class="input__admin" />
                                    <p class="form__error">El nombre es requerido</p>
                                </div>
                                <div class="form__field">
                                    <label for="">Slug</label>
                                    <input type="text" name="slug" class="input__admin" />
                                    <p class="form__error">El nombre es requerido</p>
                                </div>
                                <div class="form__field">
                                    <label for="">Categoría</label>
                                    <input type="text" name="categoria" class="input__admin" />
                                    <p class="form__error">El nombre es requerido</p>
                                </div>
                                <div class="form__field">
                                    <label for="">Stock</label>
                                    <input type="number" name="stock" placeholder="0" step="1" min="0"
                                        class="input__admin">
                                    <p class="form__error">El nombre es requerido</p>
                                </div>
                                <label for="">Destacado</label>
                                <div class="row">

                                    <label for="">Sí<input type="radio" name="destacado" value="true"
                                            class="radio__admin" /></label>
                                    <label for="">No<input type="radio" name="destacado" value="false"
                                            class="radio__admin" checked/></label>
                                </div>

                                <div class="form__field">
                                <label for="">Descripción del producto</label>
                                <textarea type="textarea" name="descripcion" class="input__admin" rows="10" cols="120" style="margin-bottom: 20px"></textarea>
                                <p class="form__error">El nombre es requerido</p>
                            </div>
                            </div>
                            <div class="col">

                                <div class="form__field">
                                <label for="">Descripción altura del producto</label>
                                <input type="text" name="descripcion_altura" class="input__admin" />
                                <p class="form__error">El nombre es requerido</p>
                            </div>
                                <div class="form__field">
                                <label for="">Descripción maceta del producto</label>
                                <input type="text" name="descripcion_maceta" class="input__admin" />
                                <p class="form__error">El nombre es requerido</p>
                            </div>
                                <div class="form__field">
                                <label for="">Precio</label>
                                <input type="number" name="precio" placeholder="0" step="0.01" min="0"
                                    class="input__admin" />
                                <p class="form__error">El nombre es requerido</p>
                            </div>
                                <div class="form__field">
                                <label for="">Cuidados</label>
                                <textarea type="textarea" name="cuidados" class="input__admin" rows="8" cols="120"
                                    style="margin-bottom: 20px"></textarea>
                                <p class="form__error">El nombre es requerido</p>
                            </div>
                                <div class="row">
                                    <div class="col-50">
                                        <div class="form__field">
                                        <label for="">Agua</label>
                                        <input type="number" name="agua" placeholder="0" step="0.5" min="0" max="5"
                                            class="input__admin col-50" />
                                        <p class="form__error">El nombre es requerido</p>
                                    </div>
                                    </div>
                                    <div class="col-50">
                                        <div class="form__field">
                                        <label for="">Luz</label>
                                        <input type="number" name="luz" placeholder="0" step="0.5" min="0" max="5"
                                            class="input__admin col-50" />
                                        <p class="form__error">El nombre es requerido</p>
                                    </div>
                                    </div>
                                </div>

                                <div class="form__field">
                                    <label for="">Cargar imagen del producto</label>
                                    <input type="file" name="imagen" class="input__admin" multiple/>

                                </div>
                                <button class="registrarse__button admin__btn" type="submit">CREAR</button>
                            </div>
                        </form>
                    </section>
            </main>
            <!-- ----------Fin de main----------- -->

    </body>

</html>