<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head') %>

<body>
    <!-- ----------Inicio de header----------- -->
    <%- include('../partials/header') %>

    <!-- ----------Fin de header----------- -->
    <!-- ----------Inicio de main----------- -->
    <main class="login__main">
        <section class="login__main__container">
            <h1>EDITAR PRODUCTOS</h1>
         
            <form action="" method="">
                <label for="">Nombre del producto</label>
                <input type="text" name="nombre del producto" />
               
                <label for="">Descripcion</label>
                <input type="text" name="descripcion" />
                
                <label for="">Categoria</label>
                <input type="text" name="categoria" />
               
                <label for="">Colores</label>
                <input type="text" name="colores" />
                
                <label for="">Talles</label>
                <input type="text"  name="talles" />
              
                <label for="">Precio</label>
                <input type="number"  name="precio" />

                <label for="">Cargar Imagen</label>
                <input type="file"  name="imagen"  />

                
    
    
                <button class="registrarse__button" type="submit">CARGAR</button>
            </form>

        
        </section>
    </main>
    <!-- ----------Fin de main----------- -->
    <!-- ----------Inicio de footer----------- -->
    <%- include('../partials/miniFooter') %>
    <!-- ----------Fin de footer----------- -->
</body>

</html>