<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head') %>

<body>
    <!-- ----------Inicio de header----------- -->
    <%- include('../partials/header') %>

    <!-- <header class="header__container">
        <div class="header__hamburger">
            <img src="./images/iconos/h_menu.png" alt="menu icono" />
        </div>

        <div class="header__logo">
            <a href="/">
                <img src="./images/logo/Logo.png" alt="logo" />

            </a>
        </div>

        <div class="header__cart">
            <a href="/productos/carrito">
              <img src="./images/iconos/cart_m.png" alt="" />
            </a>
          </div>

        <nav class="header__nav">
            <ul class="header__nav__categorias">
                <li>
                    <a href="#">Categoria 1</a>
                </li>
                <li>
                    <a href="#">Categoria 2</a>
                </li>
                <li>
                    <a href="#">Categoria 3</a>
                </li>
            </ul>
        </nav>
        <div class="header__nav__right">
            <form action="" method="">
                <input type="text" placeholder="Buscar" name="buscar" />
                <button type="submit">
                    <img src="./images/iconos/search.png" alt="search icon" />
                </button>
            </form>
            <nav class="header__nav__right__icon_container">
                <ul>
                    <li class="header__nav__right__icon">
                        <a href="/usuario/login"><img src="./images/iconos/user.png" alt="user icon" /></a>
                    </li>
                    <li class="header__nav__right__icon">
                        <a href="/productos/carrito"><img src="./images/iconos/cart.png" alt="cart icon" /></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header> -->

    <!-- ----------Fin de header----------- -->

    <!-- ----------Inicio de main----------- -->
    <main class="producto__main__container">
        <nav class="producto_main_section_nav">
            <div class="producto_main_section_ruta">
                <a href="#">Inicio</a>&nbsp/&nbsp<a href="#">Suculentas</a>&nbsp/&nbsp<a href="#">Echeveria Taurus</a>
            </div>
            <!--  <div class="producto_main_section_prev_next">
          <a href="#">Previo</a>&nbsp/&nbsp<a href="#">Próximo</a>
        </div> -->
        </nav>

        <section class="producto__section__categorias">
            <div class="producto__section__izquierda">
                <div class="producto__section__categorias__article--img">
                    <img src="/images/products/suculentas/tradescantia-albiflora_2.png" alt="tradescantia-albiflora" />
                </div>
                <p>
                    Como la mayoría de las echeverias, no saturar el sustrato, dejando
                    secar ligeramente entre riegos. No tolera el frío, mejor sol de
                    mañana. evitar fuerte insolación. En interior mucha luz.
                </p>
            </div>
            <div class="producto__section__derecha">
                <h1>Echeveria Taurus</h1>
                <p class="smart">SKU: 0017</p>
                <div class="producto__precio">
                    <p class="smart">Precio</p>
                    <h4>$1500,00</h4>
                </div>

                <p class="smart">CANTIDAD:</p>
                <div class="producto__cantidad">
                    <button>-</button>
                    <span>1</span>
                    <button>+</button>
                </div>
                <div class="producto__section__categorias__button">
                    <button class="button_agregar">Agregar al carrito</button>
                    <button class="button_favoritos">
                        <img src="/images/iconos/icono_favorito.png" alt="fav" />
                    </button>
                </div>
                <button class="button__compra">Realizar Compra</button>
                <h4 class="detalles">DETALLES DEL PRODUCTO</h4>
                <p class="detalles">
                    Cultivar de echeveria, con hojas triangulares de color rojizo, de
                    roseta compacta, con flores amarillas. Muy estética por su
                    coloración, de color rojo-verdoso.
                </p>
                <h5>Altura/anchura estimada: 9 cm.</h5>
                <h5>Presentación en maceta de 8.5cm</h5>
                <!-- RELLENAR -->
            </div>
        </section>

            <!-- CARRUSEL -->

            <%- include('../partials/carrusel') %>
            <!-- ***************************************************************** -->
        


        <!-- <section class="home__section__destacados home_sec_margin">
            <h2 class="productos_relacionados">Productos relacionados</h2>
            <div class="home__section__destacados__products__container">
                <article class="product__card">
                    <div class="product__card__img_container">
                        <img src="/images/products/interior/begonia-rex-rondeau_1.png" alt="begonia rex rondeau" />
                    </div>
                    <div class="product__card__info">
                        <h4>Begonia Rex Rondeau</h4>
                        <p>$1.500,00</p>
                    </div>
                </article>
                <article class="product__card">
                    <div class="product__card__img_container">
                        <img src="/images/products/suculentas/tradescantia-albiflora_1.png" alt="Tradescantia" />
                    </div>
                    <div class="product__card__info">
                        <h4>Tradescantia</h4>
                        <p>$1.800,00</p>
                    </div>
                </article>
                <article class="product__card">
                    <div class="product__card__img_container">
                        <img src="/images/products/suculentas/aeonium-diplocyclum_1.png" alt="Aeonium diplocyclum" />
                    </div>
                    <div class="product__card__info">
                        <h4>Aeonium diplocyclum</h4>
                        <p>$1.200,00</p>
                    </div>
                </article>
                <article class="product__card">
                    <div class="product__card__img_container">
                        <img src="/images/products/suculentas/gasteria-hippo_1.png" alt="Gasteria hippo" />
                    </div>
                    <div class="product__card__info">
                        <h4>Gasteria hippo</h4>
                        <p>$1.900,00</p>
                    </div>
                </article>
                <i class="fa-solid fa-circle-arrow-left"></i>
                <i class="fa-solid fa-circle-arrow-right"></i>
            </div>
            <ul class="slider__puntos">
                <li class="slider__punto activo"></li>
                <li class="slider__punto"></li>
                <li class="slider__punto"></li>
            </ul>
        </section> -->

    </main>
    <!-- ----------Fin de main----------- -->

    <!-- ----------Inicio de footer----------- -->
    <%- include('../partials/footer') %>

   <!--  <footer class="footer__container">
        <div class="footer__bg__container">
            <div class="footer__section__info__container">
                <section class="footer__section__info">
                    <h4>TIENDA</h4>
                    <p>Dirección: Calle falsa 123, Springfield</p>
                    <p>Teléfono: 914-123-456</p>
                    <p>Email: cantacto@sylvestris.com</p>
                </section>
                <section class="footer__section__info">
                    <h4>HORARIOS</h4>
                    <p>Lun-Vie: 7:00-22:00</p>
                    <p>Sábados: 8:00-22:00</p>
                    <p>Domingos: 8:00-12:00</p>
                </section>
                <section class="footer__section__info">
                    <h4>AYUDA</h4>
                    <nav>
                        <ul>
                            <li>
                                <a href="">Envios y devoluciones</a>
                            </li>
                            <li>
                                <a href="">Politicas de privacidad</a>
                            </li>
                            <li>
                                <a href="">FAQ</a>
                            </li>
                        </ul>
                    </nav>
                </section>
            </div>

            <section class="footer__section__suscribete">
                <h4>SUSCRIBETE</h4>
                <form action="" method="">
                    <label for="correo">Ingresa tu email aqui</label>
                    <div class="footer__flex">
                        <input type="text" id="correo" name="correo" />
                        <button type="submit">Unirse</button>
                    </div>
                </form>
            </section>
            <section class="footer__section__redes">
                <ul>
                    <li>
                        <a href="#"><img src="./images/iconos/face.png" alt="icono facebook" /></a>
                    </li>
                    <li>
                        <a href="#"><img src="./images/iconos/pin.png" alt="icono pinteres" /></a>
                    </li>
                    <li>
                        <a href="#"><img src="./images/iconos/instagram.png" alt="icono instragram" /></a>
                    </li>
                </ul>
            </section>
        </div>
        <p class="footer__copy">© 2022 Creado por Equipo 1</p>
    </footer> -->
    <!-- ----------Fin de footer----------- -->
</body>

</html>