<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>

  <body>
    <!-- ----------Inicio de header----------- -->

    <header class="header__container">
      <div class="header__hamburger">
        <img src="./images/iconos/h_menu.png" alt="menu icono" />
      </div>

      <div class="header__logo">
        <a href="/"><img src="./images/logo/Logo.png" alt="logo" /></a>
      </div>

      <div class="header__cart">
        <a href="/carrito">
          <img src="./images/iconos/cart_m.png" alt="" />
        </a>
      </div>

      <nav class="header__nav">
        <ul class="header__nav__categorias">
          <li>
            <a href="#">Categoria 1</a>
          </li>
          <li>
            <a href="#">Categoria 2</a>
          </li>
          <li>
            <a href="#">Categoria 3</a>
          </li>
        </ul>
      </nav>
      <div class="header__nav__right">
        <form action="" method="">
          <input type="text" placeholder="Buscar" name="buscar" />
          <button type="submit">
            <img src="./images/iconos/search.png" alt="search icon" />
          </button>
        </form>
        <nav class="header__nav__right__icon_container">
          <ul>
            <li class="header__nav__right__icon">
              <a href="/login"
                ><img src="./images/iconos/user.png" alt="user icon"
              /></a>
            </li>
            <li class="header__nav__right__icon">
              <a href="/carrito"
                ><img src="./images/iconos/cart.png" alt="cart icon"
              /></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- *******************Fin de header ******************************* -->
    <!-- ***************** INICIO DEL MAIN  ***************************** -->
    <main class="carrito_main_container">
     

      <section class="carrito_main_izquierda">
       

        <div class="carrito_main_titulo">
          <h3>Mi Carrito</h3>
          
        </div>
        <hr />
        <article class="carrito_main_articulo_planta">
          <div class="planta">
            <img
              src="/images/products/interior/begonia-rex-rondeau_1.png"
              alt="Bagonia Rondeau"
            />
          </div>

          <div class="carrito_main_columna">
            <div class="carrito_main_fila">
              <p>Bagonia Rondeau</p>
              <p>X</p>
            </div>

            <div class="carrito_main_fila">
              <div class="carrito_main_boton_articulo">
                <button>-</button>
                <p>1</p>
                <button>+</button>
              </div>
              <p>$18,99</p>
            </div>

            <div class="carrito_main_fila">
              <p>Unid. $18,99</p>
            </div>
          </div>
          
          
          <div class="carrito_main_columna_big">
            <div class="carrito_main_fila">
              <p>Bagonia Rondeau</p>
              <div class="carrito_main_boton_articulo">
                <button>-</button>
                <p>1</p>
                <button>+</button>
              </div>
              <p>$18,99</p>
              <p>X</p>
            </div>
            <div class="carrito_main_fila">
              <p>Unid. $18,99</p>
            </div>
          </div> 
        </article>

        <!--  -->

        <article class="carrito_main_articulo_planta">
          <div class="planta">
            <img
              src="/images/products/suculentas/aeonium-diplocyclum_1.png"
              alt="Aeonium diplocyclum"
            />
          </div>

          <div class="carrito_main_columna">
            <div class="carrito_main_fila">
              <p>Aeonium diplocyclum</p>
              <p>X</p>
            </div>

            <div class="carrito_main_fila">
              <div class="carrito_main_boton_articulo">
                <button>-</button>
                <p>1</p>
                <button>+</button>
              </div>
              <p>$18,99</p>
            </div>

            <div class="carrito_main_fila">
              <p>Unid. $18,99</p>
            </div>
          </div>
          
          
          <div class="carrito_main_columna_big">
            <div class="carrito_main_fila">
              <p>Aeonium diplocyclum</p>
              <div class="carrito_main_boton_articulo">
                <button>-</button>
                <p>1</p>
                <button>+</button>
              </div>
              <p>$18,99</p>
              <p>X</p>
            </div>
            <div class="carrito_main_fila">
              <p>Unid. $18,99</p>
            </div>
          </div> 
        </article>  

        <!--  -->
       
      </section>

      <section class="carrito_main_finish_container">
        

        <div class="carrito_main_titulo">
          <h3>Resumen del pedido</h3>
         
        </div>

        <hr class="hr" />

        <!-- <div class="carrito_main_agregarnota">
    <label for="nota">Agregar una nota</label>
    <textarea name="nota" id="" cols="30" rows="10"></textarea>
  </div>

  <hr class="hr"> -->

        <div class="carrito_main_subtotal">
          <p>Subtotal</p>
          <p>$37,98</p>
    
        </div>

        <div class="carrito_main_envio">
          <p>Envio</p>
          <p>GRATIS</p>
          
        </div>
      
        <div class="carrito_main_promocion">
         
          <form action="promocion" method="post">
            <label for="promocion">Coloque su código promocional</label>
            <input type="promocion" name="promocion" id="" />
          </form>
        </div>

        <hr class="hr" />

        <div class="carrito_main_total">
          <p>TOTAL</p>
          <p>$37,98</p>
        </div>

        

        <div class="carrito_main_boton_finalizarcompra">
          <button>Finalizar la compra</button>
        </div>

        <!--  <div class="carrito_main_pagoseguro">
      <p>Pago seguro</p>
    </div> -->
        <!--  por el momento esto no -->
      </section>
    </main>
    <!-- ********************* FIN DEL MAIN  **************************** -->
    <!-- ********************** INICIO DEL FOOTER *********************** -->
    <footer class="footer__container">
      <div class="footer__bg__container">
        <div class="footer__section__info__container">
          <section class="footer__section__info">
            <h4>TIENDA</h4>
            <p>Dirección: Calle falsa 123, Springfield</p>
            <p>Teléfono: 914-123-456</p>
            <p>Email: cantacto@sylvestris.com</p>
          </section>
          <section class="footer__section__info">
            <h4>HORARIOS</h4>
            <p>Lun-Vie: 7:00-22:00</p>
            <p>Sábados: 8:00-22:00</p>
            <p>Domingos: 8:00-12:00</p>
          </section>
          <section class="footer__section__info">
            <h4>AYUDA</h4>
            <nav>
              <ul>
                <li>
                  <a href="">Envios y devoluciones</a>
                </li>
                <li>
                  <a href="">Politicas de privacidad</a>
                </li>
                <li>
                  <a href="">FAQ</a>
                </li>
              </ul>
            </nav>
          </section>
        </div>

        <section class="footer__section__suscribete">
          <h4>SUSCRIBETE</h4>
          <form action="" method="">
            <label for="correo">Ingresa tu email aqui</label>
            <div class="footer__flex">
              <input type="text" id="correo" name="correo" />
              <button type="submit">Unirse</button>
            </div>
          </form>
        </section>
        <section class="footer__section__redes">
          <ul>
            <li>
              <a href="#"
                ><img src="./images/iconos/face.png" alt="icono facebook"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img src="./images/iconos/pin.png" alt="icono pinteres"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img
                  src="./images/iconos/instagram.png"
                  alt="icono instragram"
              /></a>
            </li>
          </ul>
        </section>
      </div>
      <p class="footer__copy">© 2022 Creado por Equipo 1</p>
    </footer>
    <!-- *********************** FIN DEL FOOTER  *********************** -->
  </body>
</html>